/*
I följande fil kommenteras alla nya rader. Om något förklarats tidigare förklaras det inte igen om det inte är av särskild anledning,
"background-color" kommer exempelvis inte kommenteras varje gång den används.

Det kan finnas vissa redundanta kodrader, då olika delar av koden skrivits i olika skeden och vissa objekt
påverkas av formattering på olika ställen i koden, som skrivits vid olika tillfällen.
*/

* {
  box-sizing: border-box;
}

/*define colors*/
:root {
  --primary-color: #1C8264;   /* Blue */
  --dark-primary-color: #15634C;
  --dark1-color: #17362D;
  --dark2-color: #2D5348;
  --dark3-color: #476B61;
  --light1-color: #FFFFFF;
  --light2-color: #FAF8F4;
  --light3-color: #EDE8DE;
}

/* Anpassade nedladdade fonter */
@font-face {
  font-family: Body;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Head;
  src: url(../fonts/Raleway/static/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Hero-Head;
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}
/* Grundläggande formgivning som används om klassen inte själv modifierar något */
body {
  background-color: var(--light2-color); /* Anger standardfärgen för bakgrunder på hemsidan */
  font-family: "Body"; /* Anger standardfont, med alternativ font om den valda inte stöds */
  font-size: 20px; /* Anger standardstorlek på font */
  color: var(--dark1-color);
  line-height: 150%; /* Anger standardavstånd mellan textrader */
  margin: 0; /* Anger standardmarginal */
  padding: 0; /* Anger standardpadding (avstånd från en behållares innehåll till dess kanter */
}
/* Formgivning för rubriker */
h1, h2, h3, h4, h5 {
  line-height: 150%; /* Anger avstånd mellan textrader */
  font-family: "Head";
}
h1 {
  font-size: 1.5em; /* Anger storleken på texten */
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.85em;
}
h5 {
  font-size: 0.75em;
}
/* Formgivning av heroklassen, som alltså är speciell text */
.hero{
  font-family: "Hero-Head"; /* Anger font för klassen hero */
  font-size: 64px;
  line-height: 120%;
}
.hero p{
  font-size: 40px;
}
/* Formgivning för horisontella linjer som används mellan sektioner på hemsidan */
hr {
  background-color: var(--light2-color);
  border: none; /* Anger att linjen inte ska ha någon kant */
  width: 92%;
  height: 2px; /* Anger linjens höjd */
  margin-top: 5%; /* Anger marginaler till ovanliggande objekt*/
  margin-left: 0%;
}
/* Formgivning för onumrerad lista */
ul {
  list-style-type: none; /* Anger att listan inte ska vara en punktlista */
  padding: 0; /* Säkerställer att ingen padding eller marginal används på onumrerade listor */
  margin: 0;
  color: var(--dark2-color);
}
/* Formgivning för länkar */
a {
  text-decoration: none; /* Anger att länkars understreck inte ska visas */
  color: inherit; /* Inherit används för att ge förälderkalssens färg för att undvika blå/lila länkar */
}
.grid-container {
  display: grid; /* Anger att detta element använder grid-layout */
  grid-template-areas: 'header' 'middle' 'about' 'portf' 'contact' 'footer'; /* Definierar områden i grid */
}
/* *******************************Formatering av sidhuvud******************************* */
.header {
  grid-area: header; /* Anger att elementet befinner sig i header-området*/
  display: grid;
  /* grid-template-columns: [header-logo] 10% [name] 40% [nav] 40% [lang] 10%; */
  grid-template-columns: [header-logo] 10% [name] 40% [nav] 50%;
  grid-template-areas: 'header-logo name nav lang';
  background-color: var(--dark1-color);
  color: var(--light1-color);
  align-items: center; /* Centrerar innehålet vertikalt */
  justify-content: center; /* Centrerar innehålet horisontellt */
  padding-left: 8%;
  color: var(--light1-color);
}

.name > p {
  font-size: 0.8em;
  margin-top: -4%;
  color: var(--light2-color);
}
.header-logo > a > img {
  width: 100%;
  display: flex;
  padding: 10% 10% 10% 0%;
}

/* Formatering av navigationsmenyn i sidhuvudet */
.nav {
  grid-column: nav; /* Anger att elementet befinner sig i nav-området som definierades i header*/
  justify-self: right; /* Justerar navigationen till höger */
  margin-right: 10%; /* Anger höger marginal */
  display: flex;
  color: var(--light2-color);
}
/* Formgivning för knappar */
.button, .dropbtn { 
  background-color: transparent;
  font-family: 'Regular', sans-serif;
  font-size: 0.7em;
  text-align: center; /* Anger att texten ska vara centrerad */
  border: none; /* Anger att knappar inte ska ha någon kant */
  width: 80px; /* Anger knappars bredd */
  padding: 7px 0px; /* Anger avstånd inom knappen (första värdet gäller över och under, det andra gäller höger och vänster*/
  margin: 10px 0px; /* Anger avständ från knappen till övriga element */
  position: relative; /* Anger att knappen ska vara positionerad relativt sin normala position */
  cursor: pointer; /* Ändrar muspekaren till en pekare vid hovring */
  transition-duration: 0.3s; /* Anger längden på övergångseffekten */
  display: block; /* Anger att knappen ska visas som ett blockelement */
}
.button:hover {
  background-color: var(--primary-color); /* Ändrar bakgrundsfärgen vid hovring */
  opacity: 1; /* Anger att knappens synlighet är 100% vid hovring */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light1-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
}

.dropdown-content a {
  color: var(--dark1-color);
  padding: 7px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.7em;
}

.dropdown-content a:hover {background-color: var(--light2-color);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--primary-color)}

/* *******************************Formatering välkomstsektionen, med bild som bakgrund******************************* */
.middle {
  grid-area: middle;
  background: url("../img/corks.jpg") no-repeat center center; /* Anger bakgrundsbild och dess position */
  background-size: cover; /* Skalar bakgrundsbilden så att den täcker hela området */
  text-align: center; /* Centrerar text horisontellt */
}
/* Formatering av överlägg på välkomstsektionen, som gör bilden delvis obskyrd och adderar text */
.middle .overlay1 {
  background: rgba(71, 107, 97, 0.7); /* Använder rgba för semi-transparent bakgrund */
  color: var(--light1-color);
  text-align: left;
  padding: 3% 8% 3% 8%;
}

#intro{
  width: 50%;
  color: var(--light2-color);
}

/* *******************************Formgivning av informationssektionen******************************* */
.about {
  grid-area: about;
  background-color: var(--light2-color);
  color: var(--dark2-color);
  padding: 8%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.about-img-frame {
  background-color: var(--light1-color);
  align-content: center;
  border-radius: 10%;
  border-color: var(--light3-color);
  border-style: double;
  width: auto;
}
.about-img {
  width: 80%;
  display: block;
  justify-self: center;
  border-radius: 10%;
  margin: 5%;
}
.about-text {
  margin-top: 0%;
  color: var(--dark2-color);
}

#about-left {
  margin-right: 8%;
}

#about-right {
  align-content: center; /* verticle alignment */
  margin-left: 8%;
}

#about-middle {
  margin: 8%;
}

#about2, #about2 > .about-text {
  background-color: var(--dark-primary-color);
  color: var(--light2-color);
}
#about2 > .about-img-frame {
  margin: 8% 16% 8% 8%;
}
#about2 > .about-text {
  margin: 8% 8% 8% 16%;
}

#about3, #contact {
  grid-template-columns: 100%;
  background-color: var(--dark-primary-color);
  color: var(--light2-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
}
#about3 > .about-text, #contact > .about-text{
  color: var(--light2-color);
  margin: 0%;
}

#about3 > .about-text > #contact-name {
  margin-top: -4%;
  margin-bottom: -2%;
}

.icons {
  display: grid;
  grid-template-columns: [media-icon] 25% [media-icon] 25% [media-icon] 25% [media-icon] 25%;
  justify-self: center;
  width: 80%;
  color: var(--light2-color);
}

.media-icon {
  justify-self: center;
  display: block;
}
.media-icon > p {
  margin-top: 0%;
}

.contact-image{
  margin-top: 3%;
  border-radius: 50%;
  width: 40%;
  border-style: solid;
  border-width: 8px;
  border-color: var(--light2-color);
}

#contact {
  padding: 2%;
}

#featured-item-img {
  width: 80%;
  border-radius: 0%;
  margin: 15%;
}

/* *******************************Formgivning av portfoliosektionen, där bilder senare placeras******************************* */
.portfolio {
  grid-area: portf;
  background-color: var(--dark1-color);
  color: var(--light1-color);
}
.portfolio-text {
  padding: 8%; /* Anger samma padding som i informationssektionen */
  color: var(--light1-color);
}
.slide {
  display: none;
}
/* Formatering av rutnät för produktlistning */
.listings {
  display: grid;
  grid-template-columns: 29% 29% 29%;
  gap: 5%;
}
/* Formatering för listade produkter */
.listed-item{
  background-color: var(--dark2-color);
  border-radius: 10px;
  border-style: double;
  border-color: var(--dark3-color);
  padding: 10%;
  justify-items: center;
  text-align: center;
  position: relative;
}

.caption-header {
  font-size: 1.3em;
}
.caption-text {
  color: var(--light2-color);
}
/* Formgivning av bildernas sektioner i portfolion */
.image-box {
  position: relative; /* Anger att elementet ska vara positionerat relativt sin normala position */
  width: 100%;
  min-height: 440px;
  align-content: center;
}
/* Formgivning av bilder */
.image {
  width: 100%;
  border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* *******************************Formgivning av sidfot******************************* */
.footer {
  grid-area: footer;
  align-items: left;
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: var(--light3-color);
  display: grid;
  grid-template-rows: [footer-top] 40% [footer-bottom] 60%;
  grid-template-areas: 'footer-top' 'footer-bottom';
}

.footer-top {
  display: grid;
  grid-area: 'footer-top';
  grid-template-columns: [footer-basic] 40% [footer-nav] 30% [footer-contact] 30%;
}

.footer-bottom {
  display: grid;
  grid-area: 'footer-bottom';
  justify-items: center;
}

.footer > .footer-top > .footer-basic > h1 {
  margin-bottom: -2%;
}

.footer > .footer-top > .footer-basic > a {
  margin-right: 1%;
}

.footer-nav > h2 {
  margin-bottom: -0.2%;
}
/* Formgivning av logotypen i sidfoten */
.footer-img{
  width: 80%;
  align-content: center;
  justify-content: center;
  margin: 0 ;
}



@media (max-width: 768px){
  
/* Formgivning för rubriker */
h1, h2, h3, h4, h5 {
  line-height: 150%; /* Anger avstånd mellan textrader */
  font-family: "Head";
}
h1 {
  font-size: 1.5em; /* Anger storleken på texten */
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.85em;
}
h5 {
  font-size: 0.75em;
}
/* Formgivning av heroklassen, som alltså är speciell text */
.hero{
  font-family: "Hero-Head"; /* Anger font för klassen hero */
  font-size: 64px;
  line-height: 120%;
}
.hero p{
  font-size: 40px;
}
/* Formgivning för horisontella linjer som används mellan sektioner på hemsidan */
hr {
  background-color: var(--light2-color);
  border: none; /* Anger att linjen inte ska ha någon kant */
  width: 92%;
  height: 2px; /* Anger linjens höjd */
  margin-top: 5%; /* Anger marginaler till ovanliggande objekt*/
  margin-left: 0%;
}
/* Formgivning för onumrerad lista */
ul {
  list-style-type: none; /* Anger att listan inte ska vara en punktlista */
  padding: 0; /* Säkerställer att ingen padding eller marginal används på onumrerade listor */
  margin: 0;
  color: var(--dark2-color);
}
/* Formgivning för länkar */
a {
  text-decoration: none; /* Anger att länkars understreck inte ska visas */
  color: inherit; /* Inherit används för att ge förälderkalssens färg för att undvika blå/lila länkar */
}
.grid-container {
  display: grid; /* Anger att detta element använder grid-layout */
  grid-template-areas: 'header' 'middle' 'about' 'portf' 'contact' 'footer'; /* Definierar områden i grid */
}
/* *******************************Formatering av sidhuvud******************************* */
.header {
  grid-area: header; /* Anger att elementet befinner sig i header-området*/
  display: grid;
  grid-template-columns: [header-logo] 20% [nav] 80%;
  grid-template-areas: 'header-logo name'
                        'nav nav';
  background-color: var(--dark1-color);
  color: var(--light1-color);
  align-items: center; /* Centrerar innehålet vertikalt */
  justify-content: center; /* Centrerar innehålet horisontellt */
  padding-left: 2%;
  color: var(--light1-color);
}
.name > p {
  font-size: 0.8em;
  margin-top: -4%;
  color: var(--light2-color);
}
.header-logo > a > img {
  width: 100%;
  display: flex;
  padding: 10% 10% 10% 0%;
}
/* Formatering av navigationsmenyn i sidhuvudet */
.nav {
  justify-self: center; /* Justerar navigationen till höger */
  margin-right: 10%; /* Anger höger marginal */
  display: flex;
  color: var(--light2-color);
}
/* Formgivning för knappar */
.button, .dropbtn { 
  background-color: transparent;
  font-family: 'Regular', sans-serif;
  font-size: 0.7em;
  text-align: center; /* Anger att texten ska vara centrerad */
  border: none; /* Anger att knappar inte ska ha någon kant */
  width: 80px; /* Anger knappars bredd */
  padding: 7px 0px; /* Anger avstånd inom knappen (första värdet gäller över och under, det andra gäller höger och vänster*/
  margin: 10px 0px; /* Anger avständ från knappen till övriga element */
  position: relative; /* Anger att knappen ska vara positionerad relativt sin normala position */
  cursor: pointer; /* Ändrar muspekaren till en pekare vid hovring */
  transition-duration: 0.3s; /* Anger längden på övergångseffekten */
  display: block; /* Anger att knappen ska visas som ett blockelement */
}
.button:hover {
  background-color: var(--primary-color); /* Ändrar bakgrundsfärgen vid hovring */
  opacity: 1; /* Anger att knappens synlighet är 100% vid hovring */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light1-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
}

.dropdown-content a {
  color: var(--dark1-color);
  padding: 7px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.7em;
}

.dropdown-content a:hover {background-color: var(--light2-color);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--primary-color)}

/* *******************************Formatering välkomstsektionen, med bild som bakgrund******************************* */
.middle {
  grid-area: middle;
  background: url("../img/corks.jpg") no-repeat center center; /* Anger bakgrundsbild och dess position */
  background-size: cover; /* Skalar bakgrundsbilden så att den täcker hela området */
  text-align: center; /* Centrerar text horisontellt */
}
/* Formatering av överlägg på välkomstsektionen, som gör bilden delvis obskyrd och adderar text */
.middle .overlay1 {
  background: rgba(71, 107, 97, 0.7); /* Använder rgba för semi-transparent bakgrund */
  color: var(--light1-color);
  text-align: left;
  padding: 3% 8% 3% 8%;
}

#intro{
  width: 100%;
  color: var(--light2-color);
}

/* *******************************Formgivning av informationssektionen******************************* */
/* TODO: Rename sections in "about" to first, second instead of left, right */

.about {
  grid-area: about;
  background-color: var(--light2-color);
  color: var(--dark2-color);
  padding: 8%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:  'first'
                        'second';
}
.about-img-frame {
  grid-area: second;
  background-color: var(--light1-color);
  align-content: center;
  border-radius: 10%;
  border-color: var(--light3-color);
  border-style: double;
  width: auto;
}
.about-img {
  width: 50%;
  display: block;
  justify-self: center;
  border-radius: 10%;
  margin: 5%;
}
.about-text {
  grid-area: first;
  margin-top: 0%;
  color: var(--dark2-color);
}
/* 
#about-left {
  margin-right: 8%;
} */

#about-right {
  align-content: center; 
  margin-left: 0%;
}

#about-middle {
  margin: 8%;
}

#about2, #about2 > .about-text {
  background-color: var(--dark-primary-color);
  color: var(--light2-color);
}
#about2 > .about-img-frame {
  margin: 8% 16% 8% 8%;
}
#about2 > .about-text {
  margin: 8% 8% 8% 16%;
}

#about3, #contact {
  grid-template-columns: 100%;
  background-color: var(--dark-primary-color);
  color: var(--light2-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
}
#about3 > .about-text, #contact > .about-text{
  color: var(--light2-color);
  margin: 0%;
}

#about3 > .about-text > #contact-name {
  margin-top: -4%;
  margin-bottom: -2%;
}

.icons {
  display: grid;
  /* grid-template-columns: [media-icon] 25% [media-icon] 25% [media-icon] 25% [media-icon] 25%; */
  grid-template-columns: 100%;
  grid-template-areas: 'media-icon'
                        'media-icon'
                        'media-icon'
                        'media-icon';
  justify-self: center;
  width: 80%;
  color: var(--light2-color);
}

.media-icon {
  justify-self: center;
  display: block;
}
.media-icon > p {
  margin-top: 0%;
}

.contact-image{
  margin-top: 3%;
  border-radius: 50%;
  width: 40%;
  border-style: solid;
  border-width: 8px;
  border-color: var(--light2-color);
}

#contact {
  padding: 2%;
}

#featured-item-img {
  width: 80%;
  border-radius: 0%;
  margin: 15%;
}

/* *******************************Formgivning av portfoliosektionen, där bilder senare placeras******************************* */
.portfolio {
  grid-area: portf;
  background-color: var(--dark1-color);
  color: var(--light1-color);
}
.portfolio-text {
  padding: 8%; /* Anger samma padding som i informationssektionen */
  color: var(--light1-color);
}
/* Formatering av rutnät för produktlistning */
.listings {
  display: grid;
  grid-template-columns: 100%;
  gap: 5%;
  align-items: center;
  padding-bottom: 8%;
}
/* Formatering för listade produkter */
.listed-item{
  background-color: var(--dark2-color);
  border-radius: 10px;
  border-style: double;
  border-color: var(--dark3-color);
  padding: 10%;
  justify-items: center;
  text-align: center;
}
.listed-item > h1 {
  font-size: 1.3em;
}
.listed-item > p {
  color: var(--light2-color);
}
/* Formgivning av bildernas sektioner i portfolion */
.image-box {
  position: relative; /* Anger att elementet ska vara positionerat relativt sin normala position */
  width: 100%;
}
/* Formgivning av bilder */
.image {
  width: 70%;
  border-radius: 10px;
}
/* *******************************Formgivning av sidfot******************************* */
.footer {
  grid-area: footer;
  align-items: left;
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: var(--light3-color);
  display: grid;
  grid-template-rows: [footer-top] 40% [footer-bottom] 60%;
  grid-template-areas: 'footer-top' 'footer-bottom';
}

.footer-top {
  display: grid;
  grid-area: 'footer-top';
  grid-template-columns: [footer-basic] 45% [footer-nav] 25% [footer-contact] 30%;
}

.footer-bottom {
  display: grid;
  grid-area: 'footer-bottom';
  justify-items: center;
}

.footer > .footer-top > .footer-basic > h1 {
  font-size: 1em;
}
.footer > .footer-top > .footer-basic > p {
  margin-top: 0%;
  font-size: 0.8em;
}

.footer > .footer-top > .footer-basic > a {
  margin-right: 1%;
}

.footer-nav > h1 {
  font-size: 1em;
  margin-bottom: -0.2%;
}
.footer-nav > ul > li{
  font-size: 0.8em;
  margin-bottom: -4%;
}
/* Formgivning av logotypen i sidfoten */
.footer-img{
  width: 80%;
  align-content: center;
  justify-content: center;
  margin: 0 ;
}
}
