<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Sätter sidans namn som visas i dess flik -->
      <title>Home</title>
      <!-- Sätter ikon som visas i dess flik -->
      <!-- <link rel="icon" href="img/favicon.png" type="image/x-icon"> -->
      <!-- Länk till externt stylesheet -->
      <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>