---
permalink: "projects.html"
---

<!DOCTYPE html>
<html lang="en">
   {% include "head.njk" %}
   
   <body>
      <div class="grid-container">
        {% include "header.njk" %}
         <main>
            <section class="middle">
               <div class="overlay1">
                  <h1 class="hero">Projects</h1>
                  <p id="intro">
                     This page serves to present my latest personal projects.
                     Since I am both a computer engineer and am very interested 
                     in art and creativity, you will be able discover some of my 
                     latest projects related to both programming and arts.<br><br>
                  </p>
               </div>
            </section>
            <section id="about" class="about">
               <picture class="about-img-frame" id="about-left">
                  <img src="img/steps.jpg" class="about-img" id="featured-item-img" alt="Image describing steps taken to get the placement of a puzzle piece">
               </picture>
               <div class="about-text" id="about-right">
                   <h1>Graduation Project</h1>
                   My graduation project consisted of developing an application 
                   that utilizes AI to assist people when solving jigsaw puzzles.
                   <br><br>
                </div>
            </section>
            <section id="portfolio" class="portfolio">
               <div class="portfolio-text">
                  <h1>Projects</h1>
                  <div class="listings">

                     <div class="listed-item">

                        <div class="slide fade">
                           <div class="image-box">
                              <img src="img/cake2025.jpg" class="image" alt="Image of a cake decorated with raspberries, lemon and chocolate.">
                           </div>
                           <h1 class="caption-header">
                              Lemon and Raspberry Cake
                           </h1>
                           <p class="caption-text">
                              The cake I baked for my 22nd birthday
                           </p>
                        </div>

                        <div class="slide fade">
                           <div class="image-box">
                              <img src="img/strawberry_cake.jpg" class="image" alt="Image of a cake decorated with raspberries, lemon and chocolate.">
                           </div>
                           <h1 class="caption-header">
                              Strawberry Cake
                           </h1>
                           <p class="caption-text">
                              A cake I baked for my 17th birthday
                           </p>
                        </div>
                        
                        <div class="slide fade">
                           <div class="image-box">
                              <img src="img/raspberry_choc_cake.jpg" class="image" alt="Image of a cake decorated with raspberries, lemon and chocolate.">
                           </div>
                           <h1 class="caption-header">
                              Chocolate and Raspberry Cake
                           </h1>
                           <p class="caption-text">
                              A cake I baked for my 17th birthday
                           </p>
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                        <div style="text-align:center">
                           <span class="dot" onclick="currentSlide(1)"></span> 
                           <span class="dot" onclick="currentSlide(2)"></span> 
                           <span class="dot" onclick="currentSlide(3)"></span> 
                        </div>
                     </div>

                     <div class="listed-item">
                        <div class="image-box">
                           <img src="img/rose_candles.jpg" class="image" alt="Text stating that this project will be available soon">
                        </div>
                        <h1 class="caption-header">
                           Rose Candles
                        </h1>
                        <p class="caption-text">
                           Two candles that I made as a christmas gift for my mother
                        </p>
                     </div>

                     <div class="listed-item">
                        <img src="img/rail_trolly_done.jpg" class="image" alt="Text stating that this project will be available soon">
                        <h1>
                           Rail trolly
                        </h1>
                        <p>
                           A miniature rail trolly made to anounce that we were taking my aunt try rail trollies for her 40th birthday
                        </p>
                     </div>

                  </div>
               </div>
            </section>
         </main>
        {% include "footer.njk" %}
      </div>
      <script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("slide");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
   </body>
</html>