---
permalink: "projects.html"
---

<!DOCTYPE html>
<html lang="en">
   {% include "head.njk" %}
   <body>
      <div class="grid-container">
        {% include "header.njk" %}
         <main>
            <section class="middle">
               <div class="overlay1">
                  <h1 class="hero">Projects</h1>
                  <p id="intro">
                     This page serves to present my latest personal projects.
                     Since I am both a computer engineer and am very interested 
                     in art and creativity, you will be able discover some of my 
                     latest projects related to both programming and arts.<br><br>
                  </p>
               </div>
            </section>
            <section id="about" class="about">
               <picture class="about-img-frame" id="about-left">
                  <img src="img/steps.jpg" class="about-img" id="featured-item-img" alt="Logo featuring a cake alongside the company name: The Cake Corner">
               </picture>
               <div class="about-text" id="about-right">
                   <h1>Graduation Project</h1>
                   My graduation project consisted of developing an application 
                   that utilizes AI to assist people when solving jigsaw puzzles.
                   <br><br>
                </div>
            </section>
            <section id="portfolio" class="portfolio">
               <div class="portfolio-text">
                  <h1>Projects</h1>
                  <div class="listings">
                     <div class="listed-item">
                        <picture class="img-box">
                           <img src="img/coming_soon.png" class="image" alt="Logo featuring a cake alongside the company name: The Cake Corner">
                        </picture>
                        <!--
                        <h1>
                           Project title
                        </h1>
                        <p>
                           Project description
                        </p> -->
                     </div>
                     <div class="listed-item">
                        <picture class="img-box">
                           <img src="img/coming_soon.png" class="image" alt="Logo featuring a cake alongside the company name: The Cake Corner">
                        </picture>
                        <!--
                        <h1>
                           Project title
                        </h1>
                        <p>
                           Project description
                        </p> -->
                     </div>
                     <div class="listed-item">
                        <picture class="img-box">
                           <img src="img/coming_soon.png" class="image" alt="Logo featuring a cake alongside the company name: The Cake Corner">
                        </picture>
                        <!--
                        <h1>
                           Project title
                        </h1>
                        <p>
                           Project description
                        </p> -->
                     </div>
                  </div>
               </div>
            </section>
         </main>
        {% include "footer.njk" %}
      </div>
   </body>
</html>